:root,
html,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 8rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}   

.hamburger{
    display: none;
}

.mobile-img{
    display: none;
}

.desktop-img{
    max-width: 100%;
}

main{
    padding-inline: 8rem;
}

.section-1{
    display: flex;
    gap: 2rem;
}

.headline{
    display: flex;
    flex-direction: column;
}

.headline-2-3{
    display: flex;
    flex-direction: row;
}

.headline-2 h1{
    font-size: 4rem;
    line-height: 1.1ch;
    padding-top: 2rem;
}

.headline-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.headline-btn{
    background-color: hsl(5, 85%, 63%);
    padding: 1.5rem;
    border: none;
    color: hsl(36, 100%, 99%);
    letter-spacing: 0.5ch;
}

.sideline{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    width: 1000px;
    padding: 2rem;
}

.sideline-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid hsl(36, 100%, 99%);
    padding-bottom: 2rem;
}

.last-sideline{
    border: none;
}



@media only screen and (min-width: 1800px) {
    html{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px){
    .section-1{
        flex-direction: column;
        align-items: center;
    }

    .headline-2-3{
        flex-direction: column;
    }

    main{
        padding-inline: 4rem;
    }

    .sideline{
        max-width: 600px;
    }

    header{
        padding-inline: 4rem;
        padding-top: 4rem;
    }
}

@media only screen and (max-width: 600px){
    .mobile-img{
        display: block;
        max-width: 100%;
    }

    .desktop-img{
        display: none;
    }

    .menu{
        display: none;
    }

    .hamburger{
        display: block;
        background: none;
        border: none;
    }

    .closeIcon{
        display: none;
    }

    .sideline{
        width: 100%;
    }

    .showMenu{
        display: block;
    }


}


